<style>
    .nav-item {
        font-size: 20px;
    }

    .logo {
        height: 80px;
        width: 100px;
    }
    .navbar-collapse {
        background-color: gainsboro;
    }
</style>
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="/" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5 text-uppercase text-primary">
                <img class="logo" src="../img/dreamhomes.png" alt="">
            </h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav ml-5 py-0">
                <a href="/admin/" class="nav-item nav-link ">Admin Home</a>
                <a href="/admin/manageusers" class="nav-item nav-link">Manage Users</a>
                <div class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Category Option</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                        <a href="/admin/addsubcategory" class="dropdown-item">Add Sub Category</a>
                    </div>
                </div>
                <a href="/login" class="nav-item nav-link">Logout</a>
                
                </div>
            </div>
        </div>
    </nav>
</div>