<%- include("adminnav.ejs")%>
    <!--about page load-->

    <!--login from start -->

    <div class="row , about">
        <div class="col-1"></div>
        <div class="col-6 pt-5 mb-5" id="addsubcategory">
            <h2>Add Category here!!</h2>
            <font style="color:blue; font-weight: 800; font-size: 16px;">
                <%- output %>
            </font>
            <form method="post" action="/admin/addcategory" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="catname" class="form-label">Category Name:</label>
                    <input type="text" class="form-control" id="catname" name="catname">
                </div>

                <div class="mb-3">
                    <label for="caticon" class="form-label">Category Icon:</label>
                    <input type="file" class="form-control" id="caticon" name="caticon">
                    <span id="err3"></span>
                </div>

                <button type="submit" class="btn btn-success">Add Category
                </button>
            </form>

        </div>

    </div>

    <!--login from end -->

    <!--footer .-->
    <%- include("adminfooter.ejs")%>