<!-- end loader -->
<%- include("adminnav.ejs")%>

    <!--about page load-->
    <!-- about  -->

    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="about-box container p-5">
                        <h2>well come admin<strong class="yellow"></strong></h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end abouts -->

    <!--footer .-->
    <%- include("adminfooter.ejs")%>