<%- include("usernav.ejs")%>
    <!--about page load-->

    <!--login from start -->

    <div class="row , about-search">
        <div class="col-1"></div>
        <div class="col-6 pt-4 mb-5" id="addsubcategory">
            <h2>Change Password</h2>
            <font style="color:blue; font-weight: 800; font-size: 16px;">
                <%- output %>
            </font>
            <form method="post" action="/user/cpuser" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="opass" class="form-label">Old Password:</label>
                    <input type="password" class="form-control" id="opass" name="opass">
                </div>

                <div class="mb-3">
                    <label for="npass" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="npass" name="npass">
                </div>
                <div class="mb-3">
                    <label for="cnpass" class="form-label">Confirm New Password</label>
                    <input type="password" class="form-control" id="cnpass" name="cnpass">
                </div>
                <button type="submit" class="btn btn-success">Change Password</button>
            </form>

        </div>

    </div>

    <!--login from end -->

    <!--footer .-->
    <%- include("userfooter.ejs")%>