<!-- end header inner -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Robot Technology>> user pannel</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="../../public/js/validation.js"></script>
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../../css/responsive.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../../css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <!-- <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div> -->
    <!--wrapper top bar-->
    <div class="wrapper">


        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-12 mt-2 mb-2">
                        <div class="logo">
                            <h1 style="font-size:30px; color:#200769;"> RoomRent.com</h1>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 d-none d-lg-block">
                        <div class="row">
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-calendar"></i>
                                    </div>
                                    <div class="top-bar-text">

                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-call"></i>
                                    </div>
                                    <div class="top-bar-text">

                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="top-bar-item">
                                    <div class="top-bar-icon">
                                        <i class="flaticon-send-mail"></i>
                                    </div>
                                    <div class="top-bar-text">
                                        <h3>Welcome user</h3>
                                        <p>
                                            <%- sunm %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header -->
        <header>
            <!-- header inner -->
            <div class="header-top">
                <div class="header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
                                <div class="full">
                                    <div class="center-desk">
                                        <div class="logo">
                                            <!-- <a href="/"><img src="images/robotlogo.jpg" style="height:70px;" alt="#" /></a> -->
                                            <!-- <h1 style="color: orange; font-size: 30px; ">RoomRent.com</h1> -->
                                            <p> we are work on online </p>
                                            <p style="color:blue;">&nbsp;&nbsp;&nbsp; Make your work easy </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">
                                <div class="header_information">
                                    <div class="menu-area">
                                        <div class="limit-box">
                                            <nav class="main-menu ">
                                                <ul class="menu-area-main">
                                                    <li class="active"> <a href="/user">User Home</a> </li>
                                                    <li> <a href="/user/funds">Funds</a> </li>
                                                    <li> <a href="/user/searchproduct">Search Product</a> </li>
                                                    <li>
                                                        <div class="nav-item dropdown">
                                                            <a href="" class="nav-link dropdown-toggle"
                                                                data-toggle="dropdown">Setting</a>
                                                            <div class="dropdown-menu"
                                                                style="background-color: #200769;">
                                                                <a href="/user/cpuser" class="dropdown-item">
                                                                    Change Password</a>
                                                                <a href="/user/epuser" class="dropdown-item">Change
                                                                    profile</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <!--
                                                <li> <a href="/service">Service</a> </li>
                                                <li> <a href="/register">Register</a> </li>
                                                <li> <a href="/login">Login</a> </li> -->
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="mean-last">
                                        <a href="/login"><img src="images/search_icon.png" alt="#" /></a> <a
                                            href="/login">logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->