<!--  footer -->
<footr>

    <div class="copyright">
        <div class="container">
            <p>Copyright © RoomRent.com, All Right Reserved. <a href="https://html.design/">Designed By Abhishek
                    Dangi
                </a>
            </p>
        </div>
    </div>
    </div>
</footr>
<!-- end footer -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>

<!--this link for dropdown of bootstrap so its off this time because inbuilt dropdown is come so it distrub code-->
<!-- <script src="js/plugin.js"></script> -->
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>




</body>

</html>